@font-face {
    font-family: Arvo;
    src: url(../resources/Arvo-Regular.ttf);
}


*
{
    -fx-font-family: Arvo;
}


#mainPane
{
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;

}

.label
{
    -fx-font-size: 12pt;
    -fx-text-fill: #2c3e50;
}

#headline
{
    -fx-font-size: 20pt;
    -fx-background-color: linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-padding: 5 10 5 10;
    -fx-border-color: #262626;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-border-width: 0.2;
}

.text-field
{
    -fx-font-size: 12pt;
    -fx-text-fill: #2c3e50;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-background-color: #d9d9d9;
}

.button
{
    -fx-background-color: linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);

}

.button:pressed
{
    -fx-background-color: #bdc3c7;
    -fx-text-fill: #ecf0f1;
}

.table-view
{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.choice-box
{
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #d9d9d9;

}




