*
{
    -fx-font-family: Arial;
}


#mainPane
{
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;

}

.label
{
    -fx-font-size: 12pt;
    -fx-text-fill: #2c3e50;
}

#headline
{
    -fx-font-size: 20pt;

}

.text-field
{
    -fx-font-size: 12pt;
    -fx-text-fill: #2c3e50;
}

#stammgrid
{
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 20 20 20 20;
}



